<div class="grd">
  <div class="grd-row">
    <div class="grd-row-col-2">
      <h1> My market</h1>
      <form (ngSubmit)="newProduct(newProductForm.value)" [formGroup]="newProductForm">
        <input type="hidden" formControlName="id">

        <label for="title">Nombre</label>
        <input type="text" id="title" formControlName="title">

        <label for="url_img">Imagen</label>
        <input type="url_img"id="url_img" formControlName="image_url">

        <input type="submit" class="btn--blue btn--add" [disabled]="!newProductForm.valid" value="Agregar">
      </form>
    </div>
    <div class="grd-row-col-4">
      <div class="cats_container">
        <div class="media" *ngFor="let product of products">
          <div class="media-figure">
            <img [src]="product.data.image_url"  style="width: 100px;height: 100px">
          </div>
          <div class="media-body">
            <p>{{product.data.title}}</p>
            <div class="btn--group">
              <button class="btn--green btn--s btn1">Editar</button>
              <button class="btn--red btn--s btn2">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
